<component name="ArtifactManager">
  <artifact type="war" name="SpringBootPackageWar:war">
    <output-path>$PROJECT_DIR$/SpringBootPackageWar/target</output-path>
    <root id="archive" name="springbootpackagewar-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootPackageWar:war exploded" />
    </root>
  </artifact>
</component>